{% extends "base.html" %}
{% load compress humanize staticfiles hc_extras %}

{% block title %}Add Sms - healthchecks.io{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Sms</h1>

    <p>If you want to be notified about your cron jobs status directly to your phone through sms

    </p>

    <h2>Setup Guide</h2>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no">1</span>
            Type your phone number below starting with your country code eg <strong>+254700000000</strong> 
            for our <strong>Kenyan</strong> Friends :-)
        </div>
    </div>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no">2</span>
            Now Click submit and your are ready to go. 
        </div>
    </div>

    <h2>Integration Settings</h2>

    <form method="post" class="form-horizontal" action="{% url 'hc-add-channel' %}">
        {% csrf_token %}
        <input type="hidden" name="kind" value="sms" />
        <div class="form-group">
            <label class="col-sm-2 control-label">Phonenumber</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="value" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save Integration</button>
            </div>
        </div>
    </form>
</div>
</div>


{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endcompress %}
{% endblock %}
